.firstImage{
    top: -227px;
    left: calc(50% - 278px);
}

.secondImage{
    bottom: -186px;
    right: -372px;
}

.step{
    font-family: "LemonMilk" !important;
    font-weight: bold;
    line-height: 1em;
}