.firstImage{
    top: -227px;
    left: calc(50% - 278px);
}

.secondImage{
    bottom: -186px;
    right: -372px;
}

.cardStacked{
    bottom: -27vw;
    right: 10vw;
}


.step{
    font-family: "LemonMilk" !important;
    font-weight: bold;
    font-size: 10rem;
    line-height: 1em;
}