@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-rgb-dark: 255, 255, 255;
  --background: 255, 255, 255;
  --background-dark: 7, 20, 21;
  --red : 254, 29, 29;
  --orange : 255, 95, 0;
  --yellow : 255, 230, 0;
  --green : 4, 181, 0;
  --light_grey : 238, 238, 238;
  --primary: 43, 103, 109;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
}

button:hover{
  filter: brightness(80%);
  transition: 0.5s;
}

@layer base{
  body {
      @apply dark:bg-black bg-white
  }
}
