@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-rgb-dark: 255, 255, 255;
  --background: 255, 255, 255;
  --background-dark: 7, 20, 21;
  --red : 254, 29, 29;
  --orange : 255, 95, 0;
  --yellow : 255, 230, 0;
  --green : 4, 181, 0;
  --light_grey : 243, 243, 243;
  --dark_grey : 82, 82, 82;
  --primary: 50, 205, 50;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
}

body{
  transition: background 1s;
}

button, input{
  transition: all 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}


@font-face {
  font-family: 'LemonMilk';
  src: url('/lemon-milk/LEMONMILK-REGULAR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('/lemon-milk/LEMONMILK-BOLD.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('/lemon-milk/LEMONMILK-LIGHT.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 1em;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8A8A8A;
  }

@layer base{
  body {
      @apply dark:bg-darkest bg-white
  }
}

.react-datepicker{
  font-family: Roboto, sans-serif !important;
}
.react-datepicker__day--selected, 
.react-datepicker__day--keyboard-selected, 
.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range{ 
  background-color: rgb(var(--primary),1) !important;
}

.react-datepicker{
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(8px) !important;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
  // color: white !important;
  border: transparent !important;
}
